@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sua senha foi alterada. <a asp-page="./Login">Clique aqui para fazer o login</a>.
</p>
