@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Saiba mais sobre <a href="https://docs.microsoft.com/aspnet/core">a construção de aplicativos web com ASP.NET Core</a>.</p>
</div>
